form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    width: 100%;
    max-width: 500px;
}

/* form fields */
label {
    grid-column: 1 / 2;
}
input,
button {
    grid-column: 2 / 3;
}
b {
    grid-column: 2;
    color: red
}


@media (max-width: 767px) {
    form {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .button {
        grid-column: span 2;
    }
}