footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  margin-top: var(--margin);
  padding: var(--padding);
}

footer p {
  margin: 0;
}

footer img {
  max-width: 100px;
  position: relative;
  top: 0.5rem;
  margin: 0 0.5rem;
}