header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightgray;
}

header a {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  margin: 0 1rem;
}

main {
  padding: 1rem;
}

.hero {
  background-color: lightblue;
  padding: 1rem;
}

.specials {
  background-color: lightyellow;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: lightgray;
}
