/* CSS Color theme */
:root {
  --color-primary-1: #495E57;
  --color-primary-2: #c3a510;
  --color-secondary-1: #EE9972;
  --color-secondary-2: #FBDABC;
  --color-highlight-1: #EDEFEE;
  --color-highlight-2: #333333;
  --color-nav-link: var(--color-highlight-2);
  --color-nav-link-active: var(--color-primary-1);
  --color-button-bg: #F4CE14;
  --color-button-fg: var(--color-highlight-2);

  --margin: 1rem;
  --padding: 1rem;
  --border-radius: 16px;
  --page-width: 960px;
}

/* fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text';
}
p {
  font-family: 'karla';
}

/* form fields */
input[type=button] {
  background: var(--color-button-bg);
  color: var(--color-button-fg);
  font-weight: bold;
  padding: calc( var(--padding) / 2) var(--padding);
  border-radius: var(--border-radius);
  cursor: pointer;
}

img {
  border-radius: var(--border-radius);
}


/* layout */
.app {
  display: flex;
  flex-direction: column;
  font: markazi-text
}

img {
  max-width: 100%;
}